{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <Div>
        <h1>Dashboard Admin </h1>
        <br><br>
        <centre><h1> Bienvenue au marketplace TunEnchère</h1></centre>
    </Div>
{% endblock %}